<div id="<%= dom_id google_place %>">
  <p>
    <strong>Place:</strong>
    <%= google_place.place_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= google_place.title %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= google_place.address %>
  </p>

  <p>
    <strong>Short address:</strong>
    <%= google_place.short_address %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= google_place.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= google_place.longitude %>
  </p>

  <p>
    <strong>Phone international:</strong>
    <%= google_place.phone_international %>
  </p>

  <p>
    <strong>Phone national:</strong>
    <%= google_place.phone_national %>
  </p>

  <p>
    <strong>Website uri:</strong>
    <%= google_place.website_uri %>
  </p>

  <p>
    <strong>Google maps uri:</strong>
    <%= google_place.google_maps_uri %>
  </p>

  <p>
    <strong>Primary type:</strong>
    <%= google_place.primary_type %>
  </p>

  <p>
    <strong>Primary type display name:</strong>
    <%= google_place.primary_type_display_name %>
  </p>

  <p>
    <strong>Types:</strong>
    <%= google_place.types %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= google_place.rating %>
  </p>

  <p>
    <strong>User ratings total:</strong>
    <%= google_place.user_ratings_total %>
  </p>

  <p>
    <strong>Price level:</strong>
    <%= google_place.price_level %>
  </p>

  <p>
    <strong>Icon mask base uri:</strong>
    <%= google_place.icon_mask_base_uri %>
  </p>

  <p>
    <strong>Icon background color:</strong>
    <%= google_place.icon_background_color %>
  </p>

  <p>
    <strong>Plus code global:</strong>
    <%= google_place.plus_code_global %>
  </p>

  <p>
    <strong>Plus code compound:</strong>
    <%= google_place.plus_code_compound %>
  </p>

  <p>
    <strong>Open now:</strong>
    <%= google_place.open_now %>
  </p>

  <p>
    <strong>Photo ref:</strong>
    <%= google_place.photo_ref %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= google_place.data %>
  </p>

</div>
